@import url('https://fonts.googleapis.com/css?family=Amiri');

.arsenal {
  float: right;
  position: absolute;
  top: 5%;
  right: 3%;
  outline-style: double;
  width: 300px;
  height: 700px;
  text-align: center;
}

.character {
 width: 700px;
 height: 200px;
 text-align: center;
 padding-top: 100px;
 padding-bottom: 40px;
 position: relative;
}

.characters {
  float: left;
  text-align: center;
  position: relative;
}

.descriptionWords {
  text-align: center;
  position: absolute;
  left: 120%;
  right: 25%;
  outline-style: double;
  height: 150px;
  width: 500px;
  bottom: 15%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.title{
  font-size: 50px;
}

.errorMessage {
  color: blue;
  padding-top:
}

button {
  font-size: 20px;
  background-color: Transparent;
  outline:none;
}

body {
  background-image: url("parchment_2.jpeg");
  font-family: 'Amiri';
  font-size: 30px;
  background-size: 100%;
}
